.heading {
  margin:40px;
}
.searchText{
  margin-right: 75px;
}

.erText{
  margin-right: 23px;
}
.entriesText{
  margin-right: 20px;
}
.erInput {
  margin-top: 10px
}
.dataTable {
  margin-top: 30px;
}

.countryTable {
  width: 186px;
}